*.aux
*.log
*.fls
*.synctex.gz
*.synctex(busy)
*.fdb_latexmk
*.out
*.toc
*.ilg
*.ind
*.idx
*.pem
*.xdv

TODO.txt

login*.sh

*/_tex/*.pdf

scripts
ubungu/extra/alema
ubungu/extra/ff

.SRCINFO
ace/assembly/*
!ace/assembly/dosbox.conf
!ace/assembly/src
ace/assembly/src/*
!ace/assembly/src/*.asm
